h6{
  text-align:left;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

#correctTimeBonus{
  color:green;
}
#incorrectTimeBonus{
  color:red;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

body{
text-align: center;
background-image: url(https://i.imgur.com/QTCRd0S.jpg);
background-size: cover; /* <------ */
background-repeat: no-repeat;
background-position: center center;
font-family: "Nasalization";

}

.container{
/*margin-top: 350px;*/

}

button{
width:300px;
height:100px;
}

.game{
display: none;
}
img{
margin-top:10px;
margin-bottom: 50px;
}

p {
  color: grey;
}

h1 {
  color: white;
}

h5 {
  color: lightgrey;
}

.playGame{
    display: none;
}

.game-over {
  display: none;
}

#displayBox {
    background-color:  grey;
    background: rgba(192,192,192, 0.5);
    width: 730px;
    height: 700px;
    text-align: center;
    border: 2px solid black;
    border-radius:50px;
    /* padding-top: 100px; */
    font-size: 100px;
    margin-right:30px;
    overflow-y: scroll;
  }

  #usernameInput {
    text-align: center;
    color: blue;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 50px;
  }

  #title {
    text-align: center;
  }

  #timeLimit {
    padding: 25px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
  }

  #scoreBox {
    padding: 25px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
  }

  #font {
    font-weight: bold;
    font-size: 15px;
  }

  #footer {
    text-align: center;
    font-size: 15px;
    margin: 5px;
    color:red;
  }

  #title {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
  }

  #inputBox {
    height: 50px;
    width: 730px;
    background-image: url(https://media.giphy.com/media/dnoyd6rMvw29q/giphy.gif);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    mix-blend-mode: screen;
    color:white;
    border-radius: 50px;

  }

  #prompts {
    padding: 25px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    border-radius: 50px;
  }


  #instructions {
    padding: 25px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    border-radius: 50px;
  }

  #bugBox {
    padding: 25px;
    background-color: grey;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;

  }

  #victoryimg img{
    width:90%;
    height:auto;
  }

  #bugBox img{
    width: 50px;
    height:auto;
  }

.bugimg1{
  display: none;
}
.bugimg2{
  display: none;
}

.bugimg3{
  display: none;
}

@font-face {
  font-family: "Nasalization";
	src: url('../nasalization/nasalization-rg.ttf');
}

#personals {
  display: none;
}


.jumbotron {
  background-image: url("http://cdn.blog.psafe.com/en/blog/wp-content/uploads/2016/10/BLOG_EN_0510_Most-Useful-Coding-and-Programming-Languages-to-Know.jpg");

}
.title {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
