h6{
  text-align:left;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

#correctTimeBonus{
  color:green;
}
#incorrectTimeBonus{
  color:red;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

body{
text-align: center;
background-image: url(https://i.imgur.com/QTCRd0S.jpg);
background-size: cover; /* <------ */
background-repeat: no-repeat;
background-position: center center;
font-family: "Nasalization";

}

.container{
/*margin-top: 350px;*/

}

button{
width:300px;
height:100px;
}

.game{
display: none;
}

img{
margin-top:10px;
margin-bottom: 50px;
}

p {
  color: grey;
}

h1 {
  color: white;
}

h5 {
  color: lightgrey;
}

.playGame{
    display: none;
}

.game-over {
  display: none;
}

/*ROW 3*/
#displayBox {
    background-color:  grey;
    background: rgba(192,192,192, 0.5);
    width: 100%;
    height: 500px;
    text-align: center;
    border: 2px solid black;

    /* padding-top: 100px; */
    font-size: 100px;
    margin-right:10px;
    margin-top: 40px;
    overflow-y: auto;

  }

  #PreviewBox {
      padding: 25px;
      background-color:  grey;
      background: rgba(0,209,182, 0.5);
      width: 100%;
      height: 500px;
      text-align: center;
      /*border: 2px solid black;*/
      /*border-radius:50px;*/
      /* padding-top: 100px; */
      font-size: 20px;
      margin-right:10px;
      margin-top: 40px;
      border-radius: 50px;
    }

    /*#progress-box {
      height: 500px;
      background-image: url(../Assets/graphics/electric_progress.gif);
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      mix-blend-mode: screen;
      margin-top: 40px;
      border-radius: 50px;
      margin-left: 30px;

    }*/

    #myProgress {
    width: 98%;
    height: 500px;
    background-color: grey;
    margin-top: 40px;
    }

    #myBar {
    width: 66%;
    background-image: url(../Assets/graphics/electric_progress.gif);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    mix-blend-mode: screen;
    line-height: 30px; /* To center it vertically */
    background-position:bottom;
    position: absolute;
    bottom: 0;
    height: 0%;
}

  #usernameInput {
    text-align: center;
    color: blue;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 50px;
  }

  #title {
    text-align: center;
  }


/*ROW 1*/
  #prompts {
    padding: 45px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    width:500px;
    height: 20px;
    /*padding-top: 90px;*/
    /*margin: 5px;*/
    /*border-radius: 50px;*/
  }

  #timeLimit {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    border: 2px solid black;

    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
  }

  #scoreBox {
    width: 100%;
    height: 60px;
    background-color: orange;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
  }

  #font {
    font-weight: bold;
    font-size: 15px;
  }

  #footer {
    text-align: center;
    font-size: 15px;
    margin: 5px;
    color:red;
  }

  #title {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
  }

  #inputBox {
    height: 60px;
    width: 70%;
    background-color: black;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    mix-blend-mode: screen;
    color:white;
    border-radius: 50px;
    margin-left: 125px;
    margin-top: 40px;
  }



  #instructions {
    padding: 25px;
    background-color: lightgrey;
    text-align: left;
    font-size: 20px;


  }

  #bugBox {
    color: red;
    height: 50px;
    width: 80%;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;


  }

  #victoryimg img{
    width:90%;
    height:auto;
  }

  #bugBox img{
    width: 50px;
    height: 50px;
  }


.bugimg1{
  display: none;
}
.bugimg2{
  display: none;
}

.bugimg3{
  display: none;
}

@font-face {
  font-family: "Nasalization";
	src: url('../nasalization/nasalization-rg.ttf');
}

#personals {
  display: none;
}


.jumbotron {
   background-image: url("http://cdn.blog.psafe.com/en/blog/wp-content/uploads/2016/10/BLOG_EN_0510_Most-Useful-Coding-and-Programming-Languages-to-Know.jpg");
}
.title {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.instructions {
  display: none;

}
p#instruction {
  font-weight: bold;
  font-size: 15px;
  color: white;
}

h3#instruction {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

img#instruction {
  max-width:  100%;
  border: 10px solid black;
}

#PreviewBox img {
  width: 400px;
  height: auto;
  margin-bottom: 200px;
}

=======

.canvas {
  background-color: blue;
  width: 1100px;
  height: 900px;
  background: rgba(72, 159, 223, 0.1);
  margin: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
}

.teamphoto {
  width: 600px;
  height: auto;
}



/*changes for canvas*/
/*#canvasTimeLimit {
  padding: 25px;
  background-color: grey;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}

#canvasScoreBox {
  padding: 25px;
  background-color: grey;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}

#canvasPrompts {
  padding: 25px;
  background-color: grey;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}

#canvasInputBox {
  height: 50px;
  width: 730px;
  margin: 15px;
}

#canvasBugBox {
  padding: 25px;
  background-color: grey;
  border: 2px solid black;
  text-align: center;
  margin: 15px;
}
/*changes for canvas*/
